<html>
    <head>
        <title>Wesker's Django Blog testing</title>
    </head>
    <body>
        <div>
            <h1><a href="">Wesker's Django Blog testing</a></h1>
        </div>

        <div>
            <p>published: 20230501 3:30</p>
            <h2><a href="">My first post_Digital&Client engineering</a></h2>
            <p>this is my first django post</p>
        </div>

        <div>
            <p>published: 20230512 3:32</p>
            <h2><a href="">My second post_Digital&Client engineering</a></h2>
            <p>this is my second django post</p>
        </div>
        <div>
            <p>published: 20230515 9:45</p>
            <h2><a href="">Project Covid-19</a></h2>
            <p>ask ChatGPT how to prevent from covid</p>
        </div>
    </body>
</html>