<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 20230501 3:30</p>
            <h2><a href="">My first post</a></h2>
            <p>this is my first django post</p>
        </div>

        <div>
            <p>published: 20230512 3:32</p>
            <h2><a href="">My second post</a></h2>
            <p>this is my second django post</p>
        </div>
    </body>
</html>